@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.header-container {
  @apply relative w-screen h-screen;
  background: rgb(11,84,53);
  background: linear-gradient(90deg, rgba(11,84,53,1) 0%, rgba(94,154,94,1) 35%, rgba(120,157,87,1) 50%, rgba(94,154,94,1) 65%, rgba(11,84,53,1) 100%);
  overflow-x: hidden;
}

.font-header {
  @apply object-cover;
}

.logo-taniGN {
  @apply object-none md:object-fill z-10;
}

.logo-jambul {
  @apply object-none lg:object-fill z-50;
}

.header-produk-inovatif {
  @apply object-cover  lg:object-fill ;
}

.elipse-left {
  @apply absolute top-40 bg-yellow-100;
  left:0;
  clip-path: ellipse(52% 50%);
}

.elipse-right {
  @apply absolute top-40 bg-yellow-100;
  right:0;
  clip-path: ellipse(52% 50%);
}

.circle-yellow-left {
  @apply absolute  bg-yellow-300 blur-2xl shadow-2xl shadow-yellow-300;
  left: 0;
  width: 25vw;
  margin-top:50vh;
  box-shadow: 0px 0px 200px 200px rgba(250, 255, 0, .3);
}

.circle-yellow-right {
  @apply absolute z-10 bg-yellow-300 blur-2xl shadow-2xl shadow-yellow-300;
  right:0;
  width: 25vw;
  margin-top:100vh;
  box-shadow: 0px 0px 200px 200px rgba(250, 255, 0, .3);
}

.circle-green-left {
  @apply absolute z-10 bg-lime-700 blur-2xl shadow-2xl shadow-lime-700;
  left: 0;
  width: 25vw;
  margin-top:150vh;
  box-shadow: 0px 0px 200px 200px rgba(11, 84, 53, 0.4);
}

.circle-green-right {
  @apply absolute z-10 bg-lime-700 blur-2xl shadow-2xl shadow-lime-700;
  right: 0;
  width: 25vw;
  margin-top:225vh;
  box-shadow: 0px 0px 200px 200px rgba(11, 84, 53, 0.4);
}

.content {
  @apply relative w-screen bg-yellow-50; 
  height: auto;
  overflow-x: hidden;
} 

.content .container {
  @apply relative z-20;

}

.card-image {
  border-top-left-radius: 32%;
  border-bottom-right-radius: 32%;
}

